/* <!-- --------------------------------font import--------------------------- --> */





/* <!-- ------------------------------------BODY----------------------------- --> */
body{
    margin: 0;
    padding: 0;
}



/* <!-- --------------------------------HEADER SECTION----------------------- --> */
.navbar{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px; */
}
.nav-menu{
    margin-right:-313px;
}
.nav-menu a{
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    color: black;
    text-align: right;
    
}
.ph-no{
    text-align: right;
}
.head-main{
    background-color: rgb(171, 179, 177);
    /* background-image: url('img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    
    opacity: 0.9; */
    min-height: 270px;
}   
.head-container{
    color: rgb(0, 0, 0);
    width: 40%;
    text-align: center;
    margin: 0 auto;
    


}
.head-container h1{
    padding-top: 80px;
}
.head-container p{
    padding-top: 30px;
    font-size: large;
}








/* <!-- ------------------------------SERVICES SECTION------------------------ --> */

.services-main{
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    gap: 53px;
    padding: 50px;

}

.services-contain img{
    width: 28%;
}
.services-contain p{
    text-align: justify;
}



/* <!-- ------------------------------ABOUT SECTION---------------------------- --> */
.about{
    background-color: #e5e5e5;
    padding-top: 60px;
    padding-bottom: 54px;
}
.about-us-text{
    letter-spacing: 4px;
    padding-top: 30px;
}
.about-us-main{
    display: flex;
    /* padding: 50px; */
    width: 80%;
    margin: 0 auto;
    
}
.about-us-img{
    text-align: right;
}
.about-us-img img{
    width: 400px;
    border-radius: 10px;
}
.product-main{
    display: flex;
    width: 70%;
    margin: 0 auto;
}
.product-img img{
    width: 100%;
    padding-top: 30px;
}
#about-para{
        text-align: justify;
        padding-right: 85px;
}


/* <!-- ------------------------------FOOTER SECTION---------------------------- -->  */

footer{
    background-color:rgb(138, 139, 139);
}
.footer-main{
    
    
}
.footer-contain{
    text-align: center;
    padding: 12px;
}

